<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
  <appSettings>
    <add key="Con1" value="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Bckup_My_Pc\Hi-TechSchool\DataBase\itecschool.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
</configuration>